<h1>Array from parent component</h1>
  <ul>
    <li *ngFor="let user of users">
      {{ user.Firstname }} {{ user.Lastname }} - {{ user.Email }}
    </li>
  </ul> 
   <h1>Array from child component</h1>
  <ul>
    <li *ngFor="let user of childUsers">
      {{ user.Firstname }} {{ user.Lastname }} - {{ user.Email }}
    </li>
  </ul>
  <button (click)="sendUsersToParent()">Send Users to Parent</button>

  <h1>Array from child component</h1>
  <ul>
    <li *ngFor="let user of childUsers">
      {{ user.Firstname }} {{ user.Lastname }} - {{ user.Email }}
    </li>
  </ul>
  
  <button (click)="displayUsers()" class="btn btn-primary mt-3">Display Users in Console</button>
  

  
